<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Partida Iniciada</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<h1>Vencedores Partida</h1>
	<br>
	<br>
	<br>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ganhador : ${ganhadores}">
				<td th:text="${ganhador.usuario}"></td>
				<td th:text="${ganhador.scoreJogador}"></td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<form method="post" th:object="${partida}" th:action="@{/partida/finalizar/}">
		<button type="submit" class="btn btn-primary">Finalizar Partida</button>
	</form>

</body>
</body>

</html>